replicaCount: 2

image:
  repository: ghcr.io/oppulence-engineering/check-if-email-exists-backend
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

livenessProbe:
  httpGet:
    path: /version
    port: http
readinessProbe:
  httpGet:
    path: /version
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

config:
  createConfigMap: true
  createSecret: true
  existingSecret: ""
  env:
    RUST_LOG: reacher=info
    SQLX_OFFLINE: "true"
    RCH__BACKEND_NAME: backend-kubernetes
    RCH__HTTP_HOST: 0.0.0.0
    RCH__WORKER__ENABLE: "true"
    RCH__WORKER__THROTTLE__MAX_REQUESTS_PER_DAY: "8640000"
    RCH__WEBDRIVER_ADDR: http://localhost:9515
  secretEnv:
    RCH__STORAGE__POSTGRES__DB_URL: ""
    RCH__WORKER__RABBITMQ__URL: ""
    RCH__PROXY__HOST: ""
    RCH__PROXY__PORT: ""
    RCH__PROXY__USERNAME: ""
    RCH__PROXY__PASSWORD: ""
    RCH__HEADER_SECRET: ""
    RCH__SENTRY_DSN: ""

extraEnv: []

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
