apiVersion: v1
kind: Service
metadata:
  name: {{ include "check-if-email-exists.fullname" . }}
  labels:
    {{- include "check-if-email-exists.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "check-if-email-exists.selectorLabels" . | nindent 4 }}
